<h1 mat-dialog-title class="text-center bg-primary text-white py-2">
  Create Group
</h1>
<div mat-dialog-content class="d-flex flex-column align-items-center px-1 pt-4">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="w-100 custom-form-field  mb-2">
      <mat-label>Group Name</mat-label>
      <input
        matInput
        formControlName="group_name"
        (blur)="trimInput('group_name')"
        style="background-color: transparent"
      />
      @if (getFormErrors("group_name")) {
        <mat-error>{{ getFormErrors("group_name") }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Group Description</mat-label>
      <textarea
        matInput
        formControlName="group_description"
        (blur)="trimInput('group_description')"
        style="background-color: transparent"
      ></textarea>
      @if (getFormErrors("group_description")) {
        <mat-error>{{ getFormErrors("group_description") }}</mat-error>
      }
    </mat-form-field>

    <div class="parent-container">
      <div class="file-upload" style="text-align: center">
        <label
          for="profile-image"
          class="upload-label px-3"
          style="color: green"
          >{{ imageName() }}</label
        >
        <input
          type="file"
          id="profile-image"
          accept="image/*"
          (change)="selectImage($event)"
          class="file-input"
        />
      </div>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="openMembersDialog()"
      class="mt-2 w-100"
    >
      Add Members
    </button>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end gap-2 px-3">
  <button mat-button color="warn" (click)="onCancel()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="form.invalid">
    Submit
  </button>
</div>
