.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 15px; /* Adds space between columns */
}

.col {
  flex: 1;
  max-width: 30%; /* Adjusted to maintain responsiveness */
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.05) !important;
}

canvas {
  width: 100%;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  padding-bottom: 10px;
}

.canvas {
  width: 100%;
  height: 300px;
  max-height: 300px;
  min-height: 300px;
  padding-bottom: 10px;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
  position: relative;
  top: 40%;
  /* transform: translateY(-50%); */
}

.dropdown-wrapper {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

#yearSelect {
  all: unset;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

/* Option styling */
#yearSelect option {
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 20%;
  cursor: pointer;
}

/* Style for the selected option (when selected in the dropdown) */
#yearSelect option:checked {
  background-color: #007bff; /* Selected option background color */
  color: white; /* Selected option text color */
}

/* Style for the option on hover */
#yearSelect option:hover {
  background-color: rgb(242, 242, 242); /* Hover effect color */
  color: black; /* Optional: change text color on hover */
}

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.dot {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #b3d4fc;
  animation: pulse 1.5s infinite ease-in-out;
}

.dot:last-child {
  margin-right: 0;
}

.dot:nth-child(1) {
  animation-delay: -0.3s;
}

.dot:nth-child(2) {
  animation-delay: -0.1s;
}

.dot:nth-child(3) {
  animation-delay: 0.1s;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }

  50% {
    transform: scale(1.2);
    background-color: #6793fb;
    box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
  }

  100% {
    transform: scale(0.8);
    background-color: #b3d4fc;
    box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
  }
}