@if (authService.currentUser() === null) {
  <p>Please Login or Register to move further!</p>
} @else {
  <p class="fs-2 justify-content-center align-items-center d-flex">
    Welcome, {{ authService.currentUser()?.first_name }}
  </p>
}
<div class="chart-container">
  <div class="row">
    <div class="col">
      <canvas
        baseChart
        [data]="pieChartData1"
        [type]="'pie'"
        [options]="pieChartOptions1"
      ></canvas>
    </div>
    <div class="col">
      <canvas
        baseChart
        [data]="pieChartData2"
        [type]="'pie'"
        [options]="pieChartOptions2"
      ></canvas>
    </div>
    <div class="col">
      <canvas
        baseChart
        [data]="pieChartData3"
        [type]="'pie'"
        [options]="pieChartOptions3"
      ></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <canvas
        baseChart
        [data]="pieChartData3"
        [type]="'pie'"
        [options]="pieChartOptions3"
      ></canvas>
    </div>
    <div class="col">
      <canvas
        baseChart
        [data]="barChartData"
        [type]="'bar'"
        [options]="barChartOptions"
      ></canvas>
    </div>
  </div>
</div>
