/* chart-dashboard.component.css */
.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.col {
  flex: 1;
  max-width: 30%; /* Adjust based on your needs */
  margin: 10px;
  padding-bottom: 10px;
  border: 2px solid black;
}

canvas {
  width: 100%;
  height: 300px;
  padding-bottom: 10px;
}
