.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  gap: 15px; /* Adds space between columns */
}

.col {
  flex: 1;
  max-width: 30%; /* Adjusted to maintain responsiveness */
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1), -4px -4px 10px rgba(0, 0, 0, 0.05) !important;
}

canvas {
  width: 100%;
  max-height: 300px;
  padding-bottom: 10px;
}

.canvas {
  width: 100%;
  max-height: 300px;
  padding-bottom: 10px;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
  position: relative;
  top: 40%;
  /* transform: translateY(-50%); */
}

.dropdown-wrapper {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

#yearSelect {
  all: unset;
  cursor: pointer;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

/* Option styling */
#yearSelect option {
  width: 100%;
  text-align: center;
  background-color: white;
  border-radius: 20%;
  cursor: pointer;
}

/* Style for the selected option (when selected in the dropdown) */
#yearSelect option:checked {
  background-color: #007bff; /* Selected option background color */
  color: white; /* Selected option text color */
}

/* Style for the option on hover */
#yearSelect option:hover {
  background-color: rgb(242, 242, 242); /* Hover effect color */
  color: black; /* Optional: change text color on hover */
}