.second-dialog {
  max-width: 400px; /* Set a max-width for the second dialog */
}

.mat-dialog-container {
  transition: transform 0.3s ease; /* Smooth transition for shifting */
}

.underline {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px; /* Space between text and underline */
  height: 3px;
  width: 0;
  background: green;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.underline.active::after {
  width: 100%; /* Full width when active */
}
