<h3 mat-dialog-title class="text-center pt-2">
  Add Friends for Easier Bill Splitting
</h3>
<div mat-dialog-content class="d-flex flex-column align-items-center p-4 pb-0">
  <mat-form-field appearance="outline" class="w-100" style="border: none">
    <mat-label>Enter Email</mat-label>
    <input
      matInput
      [(ngModel)]="searchInput"
      (ngModelChange)="onSearchInputChange()"
      style="
        background-color: transparent;
        outline: none !important;
        border-color: transparent !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      "
    />
  </mat-form-field>
</div>
<div class="px-3" style="border-radius: 5px">
  @if (loading()) {
    <div class="px-3">Loading...</div>
  } @else if (users().length) {
    <table class="table table-hover">
      <tbody>
        @for (user of users(); track $index) {
          <tr>
            <td (click)="selectUser(user)">{{ user.email }}</td>
          </tr>
        }
      </tbody>
    </table>
  } @else if (searchInput()) {
    <div>No user found!</div>
  }
</div>

<div mat-dialog-actions class="d-flex justify-content-end gap-2 pb-2 px-3">
  <button
    mat-button
    disableRipple
    class="custom-mat-button"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button mat-button disableRipple class="custom-mat-button" (click)="onAdd()">
    Add
  </button>
</div>
