<div class="group-details-container">
  <!-- Group Info Section -->
  <div class="group-header">
    <img
      src="/group-profile.png"
      alt="{{ data.group_name }}"
      class="group-profile-pic"
    />
    <div class="group-info">
      <h2 class="group-name">{{ data.group_name }}</h2>
      <p class="group-description">{{ data.group_description }}</p>
    </div>
  </div>

  <!-- User Balance -->
  <div class="user-balance d-flex justify-content-between">
    <h3>Total Balance: {{ data.balance_amount | currency: "INR" }}</h3>
    <h3>{{ data.role }}</h3>
  </div>

  <!-- Members List -->
  <div class="members-list">
    <div class="d-flex align-items-center">
      <h3>Group Members</h3>
      @if (loading) {
        <span class="text-center mx-2">
          <span class="spinner-border text-primary" aria-live="polite" role="status">
            <span class="visually-hidden">Loading...</span>
          </span>
        </span>
      }
    </div>
    <div class="members-table">
      <!-- Table Header -->
      <div class="table-row table-header">
        <div class="table-cell member-cell">Member</div>
        <div class="table-cell">Role</div>
        <div class="table-cell">Balance with You</div>
        <div class="table-cell">Total Balance in Group</div>
      </div>

      <!-- Table Body -->
      @for (member of groupMembers(); track $index) {
        <div
          class="table-row"
        >
          <div class="table-cell member-cell">
            <div class="member-details">
              <img
                [src]="member.image_url || '/profile.png'"
                alt="Profile Picture"
                class="member-profile-pic"
              />
              <span class="member-name">
                {{ member.first_name }} {{ member.last_name || "" }}
              </span>
            </div>
          </div>
          <div class="table-cell">{{ member.role }}</div>
          <div class="table-cell">{{ member.balance_with_user | currency: "INR" }}</div>
          <div class="table-cell">{{ member.total_balance | currency: "INR" }}</div>
        </div>
      }
    </div>
  </div>
</div>
