<section class="gradient-form">
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100 py-4"
  >
    <div
      class="row d-flex justify-content-center align-items-center w-100"
      style="max-width: 1200px"
    >
      <div class="col-xl-10">
        <div
          class="card rounded-3 text-black shadow-lg"
          style="background-color: #f1f1f2"
        >
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-3 mx-md-4">
                <div class="text-center">
                  <img src="/logo.png" style="width: 85px" alt="logo" />
                  <h4 class="mt-1 pb-1">We are The KlearSplit Team</h4>
                </div>

                <form [formGroup]="form" (ngSubmit)="onClickVerify()">
                  @if (!isRestoreMode()) {
                    <p class="mt-4">Please enter your details below.</p>

                    <mat-form-field
                      appearance="outline"
                      class="w-100"
                      [ngClass]="{ 'mb-2': getFormErrors('first_name') }"
                    >
                      <mat-label>First Name</mat-label>
                      <mat-icon matPrefix>person</mat-icon>
                      <input matInput formControlName="first_name" />
                      @if (getFormErrors("first_name")) {
                        <mat-error>{{ getFormErrors("first_name") }}</mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Last Name</mat-label>
                      <mat-icon matPrefix>person</mat-icon>
                      <input matInput formControlName="last_name" />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="w-100"
                      [ngClass]="{ 'mb-2': getFormErrors('email') }"
                    >
                      <mat-label>Email</mat-label>
                      <mat-icon matPrefix>email</mat-icon>
                      <input matInput formControlName="email" />
                      @if (getFormErrors("email")) {
                        <mat-error>{{ getFormErrors("email") }}</mat-error>
                      }
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="w-100"
                      [ngClass]="{ 'mb-2': getFormErrors('phone') }"
                    >
                      <mat-label>Phone Number</mat-label>
                      <mat-icon matPrefix>phone</mat-icon>
                      <input matInput formControlName="phone" />
                      @if (getFormErrors("phone")) {
                        <mat-error>{{ getFormErrors("phone") }}</mat-error>
                      }
                    </mat-form-field>

                    @if (isOtpMode()) {
                      <div class="flex">
                        <mat-form-field
                          appearance="outline"
                          class="w-100"
                          [ngClass]="{ 'mb-2': getFormErrors('otp') }"
                        >
                          <mat-label>OTP</mat-label>
                          <mat-icon matPrefix>key</mat-icon>
                          <input matInput formControlName="otp" />
                          @if (getFormErrors("otp")) {
                            <mat-error>{{ getFormErrors("otp") }}</mat-error>
                          }
                        </mat-form-field>
                        <div class="text-end p-0 m-0">
                          <button
                            mat-button
                            [disabled]="isResendDisabled()"
                            (click)="resendOtp()"
                          >
                            Resend OTP
                            @if (isResendDisabled()) {
                              <span>in {{ countdown }}s</span>
                            }
                          </button>
                        </div>
                      </div>
                    }

                    <div class="text-center text-light pt-1 mt-2 mb-1 pb-1">
                      <button
                        [disabled]="form.invalid || registerFailed()"
                        mat-button
                        disableRipple
                        class="custom-mat-button w-100"
                        type="submit"
                      >
                        {{ isOtpMode() ? "Register" : "Send OTP" }}
                      </button>
                    </div>

                    <div class="text-center pt-1 mb-3 pb-1">
                      <button
                        class="text-muted"
                        type="button"
                        (click)="onRestoreAccount()"
                        style="border: none; text-decoration: underline"
                      >
                        Restore Account.
                      </button>
                    </div>

                    <div class="text-center mt-4">
                      <button
                        class="google-signup-btn custom-google-btn w-100 d-flex align-items-center justify-content-center"
                        (click)="onGoogleSignUp()"
                      >
                        <img
                          src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo-thumbnail.png"
                          alt="Google"
                          class="google-logo"
                        />
                        <span class="ms-2">Continue with Google</span>
                      </button>
                    </div>
                  } @else {
                    <p class="mt-4">
                      Please enter email to restore your account.
                    </p>

                    <mat-form-field
                      appearance="outline"
                      class="w-100"
                      [ngClass]="{
                        'mb-2': getFormErrors('restoreAccountEmail'),
                      }"
                    >
                      <mat-label>Email</mat-label>
                      <mat-icon matPrefix>email</mat-icon>
                      <input matInput formControlName="restoreAccountEmail" />
                      @if (getFormErrors("restoreAccountEmail")) {
                        <mat-error>{{
                          getFormErrors("restoreAccountEmail")
                        }}</mat-error>
                      }
                    </mat-form-field>

                    @if (isOtpMode()) {
                      <mat-form-field
                        appearance="outline"
                        class="w-100"
                        [ngClass]="{ 'mb-2': getFormErrors('otp') }"
                      >
                        <mat-label>OTP</mat-label>
                        <mat-icon matPrefix>key</mat-icon>
                        <input matInput formControlName="otp" />
                        @if (getFormErrors("otp")) {
                          <mat-error>{{ getFormErrors("otp") }}</mat-error>
                        }
                      </mat-form-field>
                      <div class="text-center flex align-items-end mt-1">
                        <button
                          mat-button
                          [disabled]="isResendDisabled()"
                          (click)="resendOtp()"
                          class="gap 2"
                        >
                          Resend OTP
                          @if (isResendDisabled()) {
                            <span>({{ countdown }}s)</span>
                          }
                        </button>
                      </div>
                    }

                    <div class="text-center text-light pt-1 mb-1 pb-1">
                      <button
                        [disabled]="form.invalid"
                        mat-button
                        disableRipple
                        class="custom-mat-button mt-1 w-100"
                        type="button"
                        (click)="isOtpMode() ? onSubmitOtp() : onSendOtp()"
                      >
                        {{ isOtpMode() ? "Verify" : "Send OTP" }}
                      </button>
                    </div>

                    <div class="d-flex align-items-center my-3">
                      <hr class="flex-grow-1" />
                      <span class="mx-2">OR</span>
                      <hr class="flex-grow-1" />
                    </div>

                    <div class="text-center pt-1 mb-1 pb-1">
                      <button
                        mat-button
                        (click)="onBackToRegister()"
                        type="button"
                      >
                        Back to Register
                      </button>
                    </div>
                  }

                  <div
                    class="d-flex align-items-center justify-content-center pb-4 mt-3"
                  >
                    <p class="mb-0 me-2">Already have an account?</p>
                    <a routerLink="/login">LogIn</a>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center d-none d-lg-flex d-xl-flex shadow-lg"
              style="background-color: #1995ad"
            >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Welcome to KlearSplit!</h4>
                <p class="small mb-0">
                  Easily manage and split bills with friends and family. Whether
                  you're sharing a meal, an apartment, or travel expenses, our
                  intuitive platform takes the hassle out of dividing costs. Key
                  Features:
                </p>
                <ul class="small mb-0">
                  <li>
                    Effortless Bill Splitting: Quickly calculate each person's
                    share.
                  </li>
                  <li>
                    Track Expenses: Keep an organized record of who owes what.
                  </li>
                  <li>
                    Reminders: Never forget to settle up with gentle reminders.
                  </li>
                </ul>
                <p class="small mb-0">
                  Start enjoying stress-free sharing today!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
