<h2 mat-dialog-title class="text-center bg-success text-white py-2">
  Add an Expense
</h2>
<div mat-dialog-content class="d-flex flex-column align-items-center px-4 pt-4">
  <form [formGroup]="form" class="w-100">
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-100 custom-form-field mb-2">
        <mat-label>Expense Name</mat-label>
        <input
          matInput
          formControlName="expense_name"
          (blur)="trimInput('expense_name')"
          style="background-color: transparent"
        />
        @if (getFormErrors("expense_name")) {
          <mat-error>{{ getFormErrors("expense_name") }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 custom-form-field mb-2">
        <mat-label>Total Amount</mat-label>
        <input
          matInput
          type="number"
          formControlName="total_amount"
          style="background-color: transparent"
          step="0.01"
          min="0.1"
          max="9999999999.99"
        />
        @if (getFormErrors("total_amount")) {
          <mat-error>{{ getFormErrors("total_amount") }}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-100 custom-form-field">
        <mat-label>Description</mat-label>
        <input
          matInput
          formControlName="description"
          (blur)="trimInput('description')"
          style="background-color: transparent"
        />
        @if (getFormErrors("description")) {
          <mat-error>{{ getFormErrors("description") }}</mat-error>
        }
      </mat-form-field>
      <div class="d-flex justify-content-center align-items-center mb-3">
        <mat-label>Paid by</mat-label>
        <button
          class="mx-2 text-success"
          mat-raised-button
          (click)="openPayerDialog()"
          [disabled]="form.invalid"
        >
          {{ getPayerName() }}
        </button>
        <mat-label>and split</mat-label>
        <button
          class="mx-2 text-success"
          mat-raised-button
          (click)="openSplitTypeDialog()"
          [disabled]="form.invalid"
        >
          {{ splitType }}
        </button>
      </div>
      <div class="parent-container">
        <div class="file-upload" style="text-align: center">
          <label
            for="bill-receipt"
            class="upload-label px-3"
            style="color: green"
            >{{ imageName() }}</label
          >
          <input
            type="file"
            id="bill-receipt"
            accept="image/*"
            (change)="selectImage($event)"
            class="file-input"
          />
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end gap-2 px-3">
  <button
    mat-button
    disableRipple
    class="custom-mat-button"
    color="warn"
    (click)="onCancel()"
  >
    Cancel
  </button>
  <button
    mat-button
    disableRipple
    class="custom-mat-button"
    (click)="onAdd()"
    [disabled]="form.invalid"
  >
    Submit
  </button>
</div>
