<h2 mat-dialog-title class="text-center py-2">Verify OTP</h2>
<div mat-dialog-content class="d-flex flex-column align-items-center p-2">
  <form [formGroup]="otpForm" class="w-100">
    <div class="mb-3">
      <mat-form-field appearance="outline" class="w-100 px-2">
        <mat-label>Enter OTP</mat-label>
        <input matInput formControlName="otp" />
        @if (otpForm.controls["otp"].invalid) {
          <mat-error>OTP is required and should be 6 digits.</mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="d-flex justify-content-end gap-2 px-3">
  <button mat-button disableRipple (click)="onCancel()">Cancel</button>
  <button
    mat-button
    disableRipple
    (click)="onVerify()"
    [disabled]="otpForm.invalid"
  >
    Submit
  </button>
</div>
