<li
  class="d-flex mb-2 px-2"
  [ngClass]="{
    'justify-content-start': !isCurrentUserPayer(),
    'justify-content-end': isCurrentUserPayer(),
  }"
>
  @if (!isCurrentUserPayer()) {
    <img
      [src]="debtorImageUrl() ?? '/profile.png'"
      alt="avatar"
      class="rounded-circle d-inline-flex align-self-end me-3 shadow-1-strong"
      width="40"
    />
  }

  <div
    class="d-flex flex-column align-items-start settlement-card"
    style="
      max-width: 28vw;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 2em;
      padding: 1em;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255, 255, 255, 0.05);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    "
  >
    <div class="d-flex justify-content-between w-100 mb-2">
      <div>
        <p class="mb-0 text-black">
          {{
            getUserName(payerName()!, "payer") + " paid " + getUserName(debtorName()!, "debtor")
          }} {{ settlement()?.settlement_amount | currency: "INR"}}
        </p>
        @if (settlement()?.description) {
          <p class="text-muted mb-0" style="font-size: 0.85em">
            {{ settlement()?.description }}
          </p>
        }
      </div>
    </div>

    <div
      class="d-flex justify-content-end align-items-center"
      style="width: 100%; font-size: 0.85em; color: rgba(0, 0, 0, 0.7)"
    >
      <span>{{ settlement()?.createdAt | date: "shortTime" }}</span>
    </div>
  </div>

  @if (isCurrentUserPayer()) {
    <img
      [src]="currentUserImageUrl() || '/profile.png'"
      alt="avatar"
      class="rounded-circle d-inline-flex align-self-end ms-3 shadow-1-strong"
      width="40"
    />
  }
</li>
