<div class="transparent subcontainer d-flex flex-column">
  <!-- search container -->
  <app-search-bar
    placeholder="Search using email"
    actionButtonIcon="person_add"
    actionButtonTitle="Add Friend"
    (searchChange)="onSearchChange($event)"
    (actionButtonClick)="onAddFriendClick()"
  />

  <!-- pending friend requests -->
  <app-list-display
    [heading]="'Pending Requests'"
    [items]="requests()"
    (acceptReject)="onAcceptReject($event)"
    (selectedFriend)="onSelectUser($event)"
  ></app-list-display>

  <!-- Friends List -->
  <div class="friend-list d-flex flex-column shadow-lg mt-3 mx-3 flex-grow-1">
    <div class="friend-request-heading">
      <h6 class="m-0" style="padding-left: 1.5rem; padding-top: 0.2rem">
        Friend List
      </h6>
      <hr class="m-0 mt-1" />
    </div>
    <div class="friends">
      <table class="table table-hover">
        <thead>
          <tr style="display: none;">
            <th></th> 
            <th></th> 
          </tr>
        </thead>
        <tbody>
          @for (friend of friendList(); track $index) {
            <tr
              class="row equal-height-row d-flex justify-content-between m-0"
              [ngClass]="selectedFriend() === friend ? 'active' : ''"
              style="cursor: pointer"
              (click)="onSelectUser(friend)"
              (keyup.enter)="onSelectUser(friend)"
            >
              <td
                class="col-md-3 col-lg-2 col-sm-3"
                style="
                  flex: 0 0 auto;
                  text-align: center;
                  align-content: center;
                "
              >
                <span
                  ><img
                    class="profile-image"
                    [src]="friend.friend.image_url || '/profile.png'"
                    alt="Friend"
                /></span>
              </td>
              <td class="col-md-9 col-lg-10 col-sm-9">
                <div class="d-flex justify-content-between">
                  <span
                    >{{ friend.friend.first_name }}
                    {{ friend.friend.last_name }}</span
                  >
                  <span class="text-end pe-3">
                    @if (getBalanceAsNumber(friend.balance_amount) < 0) {
                      <span class="text-danger">{{
                        -getBalanceAsNumber(friend.balance_amount)
                          | currency: "INR"
                      }}</span>
                    } @else {
                      <span class="text-success">{{
                        getBalanceAsNumber(friend.balance_amount)
                          | currency: "INR"
                      }}</span>
                    }
                  </span>
                </div>
                <div>{{ friend.friend.email }}</div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
