<nav
  class="navbar navbar-expand-md navbar-light shadow-lg bg-light sticky-top m-0 p-0 pb-1"
>
  <div class="container-fluid m-0 p-0 px-3">
    <a class="navbar-brand fs-2" routerLink=""> KlearSplit</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse d-lg-flex justify-content-end"
      id="navbarTogglerDemo02"
    >
      <div class="navbar-nav">
        @if (authService.isAuthenticated() === true) {
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link fs-5"
                style="color: black"
                [routerLink]="['/dashboard']"
                routerLinkActive="active"
                aria-current="page"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link fs-5"
                style="color: black"
                [routerLink]="['/friends']"
                routerLinkActive="active"
                aria-current="page"
                >Friends</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" style="color: black" routerLink="#"
                >Groups</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link fs-5 dropdown-toggle"
                style="color: black"
                role="button"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Profile</a
              >
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" style="color: black" href="#"
                    >Profile</a
                  >
                </li>
                <li>
                  <button
                    class="dropdown-item"
                    style="color: black"
                    (click)="onLogout()"
                  >
                    Logout
                  </button>
                </li>
              </ul>
            </li>
          </ul>
        } @else {
          <a
            class="nav-link fs-5 me-2"
            [routerLink]="['/login']"
            routerLinkActive="active"
            aria-current="page"
            style="color: black"
            >Login</a
          >
          <a
            class="nav-link fs-5"
            [routerLink]="['/register']"
            routerLinkActive="active"
            aria-current="page"
            style="color: black"
            >Register</a
          >
        }
      </div>
    </div>
  </div>
</nav>
