<div class="d-flex justify-content-evenly align-items-center m-5">
  <div class="col-md-4">
    <div class="transparent subcontainer">
      <!-- Search Div --> 
      <div class="d-flex justify-content-evenly align-items-center gap-3">
        <div class="d-flex justify-content-between search-container col-md-10 ps-3">
          <input type="text" placeholder="Search" />
          <button type="submit" class="search-button">
            <i class="fa fa-search"></i>
          </button>
        </div>
        <div class="col-md-1">
          <button class="material-icons user-add">person_add</button>
        </div>
      </div>

      <!-- pending friend requests -->
       <div class="pending-request mt-3 mx-3">
        <h6 style="padding-left: 1rem; padding-top: 0.2rem;">Friend Requests</h6>
        <table class="table">
            <tbody>
                <tr >
                    <td class="d-flex align-items-center">
                      <span><img src="https://via.placeholder.com/50" alt="Friend 1" class="img-fluid rounded-circle"></span>
                      <span class="ms-3">Friend 1</span>
                    </td>
                    <td class="text-end py-3">
                        <button class="btn btn-success btn-sm">Accept</button>
                        <button class="btn btn-danger btn-sm">Reject</button>
                    </td>
                </tr>
                <tr >
                  <td class="d-flex align-items-center">
                    <span><img src="https://via.placeholder.com/50" alt="Friend 1" class="img-fluid rounded-circle"></span>
                    <span class="ms-3">Friend 1</span>
                  </td>
                  <td class="text-end py-3">
                      <button class="btn btn-success btn-sm">Accept</button>
                      <button class="btn btn-danger btn-sm">Reject</button>
                  </td>
              </tr>
              <tr >
                <td class="d-flex align-items-center">
                  <span><img src="https://via.placeholder.com/50" alt="Friend 1" class="img-fluid rounded-circle"></span>
                  <span class="ms-3">Friend 1</span>
                </td>
                <td class="text-end py-3">
                    <button class="btn btn-success btn-sm">Accept</button>
                    <button class="btn btn-danger btn-sm">Reject</button>
                </td>
            </tr>
            </tbody>
        </table>
       </div>
    </div>
  </div>
  <div class="col-md-8 bg-secondary subcontainer subcontainer2">
  </div>
</div>