.container {
  min-height: 80vh;
  border-radius: 20px;
}

.subcontainer {
  flex-wrap: wrap;
  min-height: 77vh;
  border-radius: 20px;
  box-sizing: border-box;
}

.chat-box {
  background: white;
}

.vertical-dots {
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  /* width: 3rem; */
  align-items: center;
  border: none;
  background: transparent;
}

.dot {
  width: 5px; /* Width of the dots */
  height: 5px; /* Height of the dots */
  background-color: black; /* Dot color */
  border-radius: 50%; /* Make dots circular */
  margin: 3px 0; /* Spacing between dots */
}

.profile-image {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.chat-box-image {
  height: 59vh;
}

.send-message {
  border: none;
  background-color: transparent;
}

.search-container {
  background: white;
  padding: 0.5rem;
  border-radius: 20px;
  /* box-shadow: 0 4px 6px rgba(65, 184, 131, 0.8), 0 2px 4px rgba(56, 142, 203, 0.5); */
}

input,
input:focus {
  width: 80%;
  outline: none;
  border: none;
}

.message-body{
  ::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(
      128,
      128,
      128,
      0.854
    ); /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #7d0dc3; /* Color of the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #7d0dc3; /* Color when hovered */
  }
  
}

.search-button {
  border: none;
  background-color: transparent;
}

.user-add {
  background-color: white;
  border-radius: 20px;
  /* box-shadow: 0 4px 6px rgba(65, 184, 131, 0.8), 0 2px 4px rgba(56, 142, 203, 0.5); */
}

.user-add:hover {
  transform: translateY(-1px); /* Subtle lift effect */
}

.pending-request {
  max-height: 22vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

.requests {
  max-height: 16vh;
  overflow-y: auto;
  border-radius: 0px 0px 10px 10px;
}

.friend-list {
  max-height: 46.2vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

.friends {
  max-height: 42.1vh;
  overflow-y: auto;
  border-radius: 0px 0px 10px 10px;
}

hr {
  border-top: 4px solid black;
}

td {
  vertical-align: middle;
}

.input-container {
  min-height: 10vh;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.custom-width {
  flex: 2; /* 20% width for the button */
}

.input-field {
  flex: 6; /* 60% width for the input field */
  border: 1px solid black;
  border-radius: 5px;
}

.message-input:focus {
  border-radius: 5px;
  border: 2px solid black !important;
}

.disabled-pointer {
  opacity: 0.6;
  cursor: not-allowed !important;
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(
    128,
    128,
    128,
    0.854
  ); /* Background of the scrollbar track */
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7d0dc3; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d0dc3; /* Color when hovered */
}
