<div class="container my-4">
  <div class="d-flex">
    <div class="col-md-4 my-4 p-0">
      <div class="transparent subcontainer ps-3 mx-3">
        <!-- Search Div -->
        <div class="d-flex align-items-center justify-content-center">
          <div class="search-container col-md-9">
            <input type="text" placeholder="Search" />
            <button type="submit" class="search-button">
              <i class="fa fa-search"></i>
            </button>
          </div>
          <div class="col-md-3 px-3">
            <button class="material-icons user-add">person_add</button>
          </div>
        </div>

        <!-- pending friend request -->
        <!-- <div class="d-flex pending-request"></div> -->
      </div>
    </div>
    <div class="col-md-8 my-4 p-0">
      <div class="text-white subcontainer subcontainer2 mx-3"></div>
    </div>
  </div>
</div>
