.container {
  min-height: 80vh;
  border-radius: 20px;
}

.subcontainer {
  flex-wrap: wrap;
  min-height: 77vh;
  border-radius: 20px;
  box-sizing: border-box;
}

.chat-box {
  background: white;
}

.vertical-dots {
  cursor: pointer;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  border: none;
  background: transparent;
}

.dot {
  width: 5px; /* Width of the dots */
  height: 5px; /* Height of the dots */
  background-color: black; /* Dot color */
  border-radius: 50%; /* Make dots circular */
  margin: 3px 0; /* Spacing between dots */
}

.profile-image {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.chat-box-image {
  height: 59vh;
  object-fit: contain;
  visibility: hidden; /* Start hidden */
  transition: visibility 0s linear 0.2s; /* Delay visibility change */
}

.visible {
  visibility: visible; /* Make visible when loaded */
  transition-delay: 0s; /* Reset delay */
}

.send-message {
  border: none;
  background-color: transparent;
}

.search-container {
  background: white;
  padding: 0.5rem;
  border-radius: 20px;
}

input,
input:focus {
  width: 80%;
  outline: none;
  border: none;
}

.message-body::-webkit-scrollbar {
  width: 4px !important; /* Width of the scrollbar */
}

.message-body::-webkit-scrollbar-track {
  margin: 0;
  padding: 0;
  background: rgba(
    203,
    199,
    199,
    0.032
  ); /* Background of the scrollbar track */
}

.search-button {
  border: none;
  background-color: transparent;
}

.user-add {
  background-color: white;
  border-radius: 20px;
}

.user-add:hover {
  transform: translateY(-1px); /* Subtle lift effect */
}

.pending-request {
  max-height: 22vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

.requests {
  max-height: 16vh;
  overflow-y: auto;
  border-radius: 0px 0px 10px 10px;
}

.friend-list {
  max-height: 46.2vh;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

.friends {
  max-height: 42.1vh;
  overflow-y: auto;
  border-radius: 0px 0px 10px 10px;
}

hr {
  border-top: 4px solid black;
}

td {
  vertical-align: middle;
}

.input-container {
  min-height: 10vh;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}

.custom-width {
  flex: 2; /* 20% width for the button */
}

.input-field {
  flex: 6; /* 60% width for the input field */
  border: 1px solid black;
  border-radius: 5px;
}

.message-input:focus {
  border-radius: 5px;
  border: 2px solid black !important;
}

.disabled-pointer {
  opacity: 0.6;
  cursor: not-allowed !important;
}

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: rgba(
    128,
    128,
    128,
    0.854
  ); /* Background of the scrollbar track */
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background: #7d0dc3; /* Color of the scrollbar thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7d0dc3; /* Color when hovered */
}

.char-count {
  margin-top: 5px;
  font-size: 14px;
}

.error {
  color: red; /* Highlight in red if exceeded */
}

.animated-text {
  background: linear-gradient(
    270deg,
    #00fffb,
    #0081bc,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%; /* Adjust for smoother animation */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

::ng-deep {
  .cdk-overlay-pane {
    max-width: 100vw !important;
    max-height: 100vh !important;
  }
}

.loading {
  box-shadow: 0 -5px 0px rgba(89, 108, 228, 0.5);
}
