<section class="gradient-form shadow-lg">
  <div
    class="container d-flex justify-content-center align-items-center min-vh-100"
  >
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div
          class="card rounded-3 text-black shadow-lg"
          style="background-color: #f1f1f2"
        >
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-3 mx-md-4">
                <div class="text-center">
                  <img src="/logo.png" style="width: 85px" alt="logo" />
                  <h4 class="mt-1 pb-1">We are The KlearSplit Team</h4>
                </div>

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  @if (!isForgotPasswordMode()) {
                  <p class="mt-4">Please login to your account</p>

                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    [ngClass]="{ 'mb-2': getFormErrors('email') }"
                  >
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>email</mat-icon>
                    <input matInput formControlName="email" />
                    @if (getFormErrors("email")) {
                      <mat-error>{{ getFormErrors("email") }}</mat-error>
                    }
                  </mat-form-field>

                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    [ngClass]="{ 'mb-2': getFormErrors('password') }"
                  >
                    <mat-label>Password</mat-label>
                    <mat-icon matPrefix>key</mat-icon>
                    <input
                      matInput
                      [type]="hidePassword() ? 'password' : 'text'"
                      formControlName="password"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hidePassword.set(!hidePassword())"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword()"
                      type="button"
                    >
                      <mat-icon>{{
                        hidePassword() ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    @if (getFormErrors("password")) {
                      <mat-error>{{ getFormErrors("password") }}</mat-error>
                    }
                  </mat-form-field>

                  <div class="text-center text-light pt-1 mb-1 pb-1">
                    <button
                      [disabled]="form.invalid || loginFailed"
                      mat-button
                      disableRipple
                      class="custom-mat-button mt-1 w-100"
                      type="submit"
                    >
                      Login
                    </button>
                  </div>
                  <div class="text-center pt-1 mb-3 pb-1">
                    <button
                      class="text-muted"
                      (click)="onForgotPassword()"
                      type="button"
                      style="border: none; text-decoration: underline"
                    >
                      Forgot password?
                    </button>
                  </div>

                  <div class="text-center mt-4">
                    <button
                      class="google-signup-btn custom-google-btn w-100 d-flex align-items-center justify-content-center"
                      type="button"
                      (click)="onGoogleSignIn()"
                    >
                      <img
                        src="https://w7.pngwing.com/pngs/326/85/png-transparent-google-logo-google-text-trademark-logo-thumbnail.png"
                        alt="Google"
                        class="google-logo"
                      />
                      <span class="ms-2">Continue with Google</span>
                    </button>
                  </div>
                } @else {
                  <p class="mt-4">Please enter email to reset password.</p>

                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    [ngClass]="{ 'mb-2': getFormErrors('forgotPasswordEmail') }"
                  >
                    <mat-label>Email</mat-label>
                    <mat-icon matPrefix>email</mat-icon>
                    <input matInput formControlName="forgotPasswordEmail" />
                    @if (getFormErrors("forgotPasswordEmail")) {
                      <mat-error>{{ getFormErrors("forgotPasswordEmail") }}</mat-error>
                    }
                  </mat-form-field>

                  @if (isOtpMode()) {
                    <mat-form-field
                    appearance="outline"
                    class="w-100"
                    [ngClass]="{ 'mb-2': getFormErrors('otp') }"
                  >
                    <mat-label>OTP</mat-label>
                    <mat-icon matPrefix>key</mat-icon>
                    <input matInput formControlName="otp" />
                    @if (getFormErrors("otp")) {
                      <mat-error>{{ getFormErrors("otp") }}</mat-error>
                    }
                  </mat-form-field>
                  }

                  <div class="text-center text-light pt-1 mb-1 pb-1">
                    <button
                      [disabled]="form.invalid"
                      mat-button
                      disableRipple
                      class="custom-mat-button mt-1 w-100"
                      type="button"
                      (click)="isOtpMode() ? onSubmitOtp() : onSendOtp()"
                    >
                      {{ isOtpMode() ? 'Submit' : 'Send OTP' }}
                    </button>
                  </div>

                  <div class="d-flex align-items-center my-3">
                    <hr class="flex-grow-1" />
                    <span class="mx-2">OR</span>
                    <hr class="flex-grow-1" />
                  </div>                  

                  <div class="text-center pt-1 mb-1 pb-1">
                    <button
                      mat-button
                      (click)="onBackToLogin()"
                      type="button"
                    >
                      Back to Login
                    </button>
                  </div>
                }

                  <div
                    class="d-flex align-items-center justify-content-center py-4"
                  >
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <a routerLink="/register">Create new</a>
                  </div>
                </form>
              </div>
            </div>
            <div
              class="col-lg-6 d-flex align-items-center d-none d-lg-flex d-xl-flex shadow-lg"
              style="background-color: #1995ad"
            >
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <h4 class="mb-4">Welcome to KlearSplit!</h4>
                <p class="small mb-0">
                  Easily manage and split bills with friends and family. Whether
                  you're sharing a meal, an apartment, or travel expenses, our
                  intuitive platform takes the hassle out of dividing costs. Key
                  Features:
                </p>
                <ul class="small mb-0">
                  <li>
                    Effortless Bill Splitting: Quickly calculate each person's
                    share.
                  </li>
                  <li>
                    Track Expenses: Keep an organized record of who owes what.
                  </li>
                  <li>
                    Reminders: Never forget to settle up with gentle reminders.
                  </li>
                </ul>
                <p class="small mb-0">
                  Start enjoying stress-free sharing today!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
