<h2 mat-dialog-title class="text-center bg-success text-white py-2">
  Choose Payer
</h2>
<div class="m-2" style="border-radius: 0; overflow-y: auto">
  <table class="table table-hover" style="cursor: pointer">
    <tbody>
      @for (participant of participants; track participant.user_id) {
        <tr (click)="sendPayer(participant.user_id)">
          <td>{{ participant.first_name }} {{ participant.last_name }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>

<div mat-dialog-actions class="d-flex justify-content-end gap-2 px-3">
  <button
    mat-button
    disableRipple
    class="custom-mat-button"
    (click)="onCancel()"
  >
    Cancel
  </button>
</div>
